*{
    margin: 0;
    font-family: sans-serif;
}
.header1{
    background:linear-gradient(#00000096), url("./uae-4-2048x1367\ 2.png");
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}
.m1{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 18px;
    padding: 30px 10px;
}
.m11{
    gap: 40px;
    display: flex;
}
.btn1{
    padding: 15px 40px;
    font-size: 18px;
    background: #07AF91;
    border: none;
    border-radius: 10px;
    color: wheat;
}
.img1{
    display: none;
}


.pp1{
    max-width: 1200px;
    margin:auto;
    color: white;
    margin-top: 200px;
}
.q1{
    font-size: 47px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px; 
}
.btn2{
    padding: 25px 40px;
    font-size: 18px;
    color: white;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    border: none;
    border-radius: 10px;
}
.q3{
    display: none;
}
.q4{
    display: none;
}
.q5{
    display: none;
}
.box1{
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}










.l1{
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
}
.l2{
    padding-top: 100px;
}
.k1{
    color: #016CA8;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.k2{
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 300;
}
.btn3{
    font-size: 18px;
    padding: 15px 50px;
    margin-bottom: 10px;
    background: #07AF91;
    color: white;
    border: none;
    border-radius: 10px;
}
.kl1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kl2{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l3{
    display: none;
}

.img3{
    display: none;
}

.j1{
    text-align: center;
    width: 390px;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
}
.o1{
    font-size: 80px;
    font-weight: 800;
    color: #1178B280;
    padding-top: 60px;
    padding-bottom: 10px;
}
.o2{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.o3{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 30px;
}


.mir{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.lp1{
    max-width: 1200px;
    margin: auto;
    font-size: 38px;
    color:#1178B2;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 50px;
}




@media(max-width:600px){
    .lp1{
        text-align: center;
    }
    .mir{
        flex-direction: column;
    }
    
    .btn3{
        width: 95%;
    }
    .l1{
        text-align: center;
    }
    .img2{
        display: none;
    }
    .img3{
        display: block;
    }
    .l3{
        display: block;
        padding: 15px;
    }
    .l2{
        display: none;
    }
    .kl1{
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 40px;
    }
    .kl2{
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }
    .pp1{
        margin-top: 60px;
        text-align: center;
    }
    .q1{
        display: none;
    }
    .q4{
        display: block;
        font-size: 36px;
        margin-bottom: 30px;
        line-height: 50px;
    }
    .q5{
        display: block;
        font-size: 36px;
    }
    .q3{
        display: block;
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 40px;
    }
    .q2{
        display: none;
    }
    .m11{
        display: none;
    }
    .img1{
        display: block;
    }
    .s1{
        display: flex;
        gap: 10px;
    }

}
