* {
    margin: 0;
    font-family: sans-serif;
}

.header1 {
    background: linear-gradient(#00000096), url("./uae-4-2048x1367\ 2.png");
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.m1 {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 18px;
    padding: 30px 10px;
}

.m11 {
    gap: 40px;
    display: flex;
}

.btn1 {
    padding: 15px 40px;
    font-size: 18px;
    background: #07AF91;
    border: none;
    border-radius: 10px;
    color: wheat;
}

.img1 {
    display: none;
}


.pp1 {
    max-width: 1200px;
    margin: auto;
    color: white;
    margin-top: 200px;
}

.q1 {
    font-size: 47px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.btn2 {
    padding: 25px 40px;
    font-size: 18px;
    color: white;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    border: none;
    border-radius: 10px;
}

.q3 {
    display: none;
}

.q4 {
    display: none;
}

.q5 {
    display: none;
}

.box1 {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}










.l1 {
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
}

.l2 {
    padding-top: 100px;
}

.k1 {
    color: #016CA8;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.k2 {
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 300;
}

.btn3 {
    font-size: 18px;
    padding: 15px 50px;
    margin-bottom: 10px;
    background: #07AF91;
    color: white;
    border: none;
    border-radius: 10px;
}

.kl1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kl2 {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l3 {
    display: none;
}

.img3 {
    display: none;
}

.j1 {
    text-align: center;
    width: 390px;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
}

.o1 {
    font-size: 80px;
    font-weight: 800;
    color: #1178B280;
    padding-top: 60px;
    padding-bottom: 10px;
}

.o2 {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}

.o3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 30px;
}


.mir {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.lp1 {
    max-width: 1200px;
    margin: auto;
    font-size: 38px;
    color: #1178B2;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 50px;
}

.nn1 {
    text-align: center;
    width: 100%;
    height: 604px;
    background: linear-gradient(#0000008C), url("./startup\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
}

.ll1 {
    width: 75%;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    background: #07AF91;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.ll2 {
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.btn4 {
    color: white;
    font-size: 20px;
    width: 341px;
    height: 80px;
    border-radius: 10px;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    text-align: center;
    border: none;
    margin-top: 30px;
}

.op1 {
    width: 304px;
    height: 70px;
    border-radius: 5px;
    background: #88BBD8;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.op2 {
    width: 304px;
    height: 70px;
    border-radius: 5px;
    background: #EEF1F4;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.kk1 {
    max-width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.i1 {
    max-width: 1200px;
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
    margin: auto;
    margin-top: 100px;
}

.ccc {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.f1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

.f2 {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn5 {
    width: 252px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    margin-bottom: 70px;
    color: white;
}

.btn6 {
    width: 252px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    margin-bottom: 70px;
    color: white;
    display: none;
}

.img4 {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 25px;
}

.bbs {
    width: 289px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
    text-align: center;
    padding: 70px 0px;
    background-color: white;
    z-index: 1;
}

.bbs2 {
    width: 289px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
    text-align: center;
    padding: 60px 0px;
    background: #1178B2;
    color: white;
    z-index: 1;

}

.bbs2 img {
    margin-bottom: 20px;
}

.poo1 {
    color: #1178B280;
    font-size: 24px;
    font-weight: 600;
}

.poo2 {
    font-size: 16px;
    color: #10101080;
    margin-top: 10px;
}

.mm1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.poo3 {
    font-size: 20px;
    line-height: 30px;
}

.img11 {
    position: absolute;
    top: 00px;
    z-index: 0;
}

.section11 {
    max-width: 1100px;
    margin: auto;
    line-height: 30px;
    margin-top: 80px;
}

.section12 {
    max-width: 1200px;
    margin: auto;
    line-height: 30px;
    margin-top: 80px;
}

.id1 {
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
    margin-bottom: 30px;
}

.id2 {
    font-size: 20px;
    font-weight: 200;
}



.ss1 {
    width: 392px;
    height: 284px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
    text-align: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.ss1 p {
    font-size: 20px;
    font-weight: 600;
}

.sss {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    flex-wrap: wrap;
}

.video1 {
    max-width: 1200px;
    height: 675px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.video1 p {
    font-size: 20px;
    margin-bottom: 50px;
}

.img33 {
    display: none;
}

.ll2 {
    display: none;
}


















.ak1 {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 30px 0px #00000017;
    margin-top: 20px;
}

.ak2 {
    width: 90%;
    margin: auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ak3 {
    width: 90%;
    margin: auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aa1 {
    font-size: 20px;
    font-weight: 500;
}

.lk3 {
    color: gray;
    font-size: 16px;
}

.lk4 {
    color: #1178B2;
    font-size: 16px;
}

.btn11 {
    width: 377px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
    color: white;
    border: none;
    font-size: 18px;
}

.by {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}

.css1 {
    width: 100%;
    height: 500px;
    background-image: url("./Group\ 796.png");
    margin-top: 40px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.rr1 {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.rr2 {
    padding-top: 100px;
}

.xx1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.xx2 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn22 {
    width: 326px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
    background: #07AF91;

}

.box2 {
    width: 205px;
    height: 111px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px #00000040;
    background: #FFFFFF;
}

.oi1 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.ass1 {
    width: 392px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.idris {
    max-width: 1220px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.jax1 {
    width: 362px;
    height: 798px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
}

.vv1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vv1 p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.vv2 {
    margin: auto;
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.btn33 {
    margin-left: 20px;
    margin-top: 30px;
    width: 317px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
    background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
}

.gga1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ddr1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ddr1 p {
    font-size: 20px;
    line-height: 30px;
}

.ddr2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    box-shadow: 0px 0px 30px 0px #00000017;
    padding-top: 50px;
    padding-left: 20px;
    border-radius: 10px;

}

.ddr2 p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.gt1 {
    width: 236.px;
    height: 157px;
    border-radius: 10px;
}

.gt2 {
    width: 236.px;
    height: 157px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.gt3 {
    width: 236.px;
    height: 157px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.gt4 {
    width: 236.px;
    height: 157px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.gt5 {
    width: 236.px;
    height: 157px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.sadqq {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

.юри {
    width: 300px;
    text-align: center;
}

.xza {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.sas {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sa1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.imgg {
    width: 288px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 0px #00000017;
}

.bb1 {
    width: 392px;
    height: 379px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #00000017;
    padding-left: 20px;
}
.bb1 p{
    margin-left: 20px;
    line-height: 25px;
}
.dfdf1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media(max-width:600px) {
    .dfdf1{
        flex-direction: column;
        margin: auto;
    }
    .sas {
        margin-top: 40px;
        flex-direction: column;
    }
    .bbs2{
        margin: auto;
    }

    .imgg {
        margin: auto;
        width: 90%;
    }

    .sa1 {
        display: none;
    }

    .xza {
        flex-direction: column;

    }

    .gt1 {
        display: none;
    }

    .gt2 {
        display: none;
    }

    .ddr1 {
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
    }

    .ddr2 {
        width: 85%;
        flex-direction: column-reverse;
        row-gap: 50px;
        display: flex;
        justify-content: space-between;
    }

    .ggr2 p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .gga1 {
        flex-direction: column;
    }

    .idris {
        flex-direction: column;
    }

    .jax1 {
        margin-top: 20px;
    }

    .ass1 {
        margin-top: 20px;
    }

    .rr2 {
        text-align: center;
    }

    .box2 {
        width: 121.44647216796875px;
        height: 66.0365219116211px;
        border-radius: 10px;
    }

    .rr1 {
        flex-direction: column;
    }

    .css1 {
        flex-direction: column;
        height: 800px;
    }

    .box2 img {
        width: 80%;
        height: 90%;
    }

    .xx1 {
        font-size: 24px;
        line-height: 30px;
    }

    .xx2 {
        font-size: 14px;
    }

    .oi22 {
        margin-top: -100px;
        margin-bottom: 100px;
    }

    .by {
        display: none;
    }

    .lk3 {
        font-size: 12px;
    }

    .ak1 {
        text-align: center;
        margin-top: 40px;
    }

    .ak3 {
        height: 70px;
    }

    .ak2 {
        height: 140px;
        display: flex;
        flex-direction: column;
        width: 70%;
        line-height: 30px;
        align-items: center;
        justify-content: center;
    }

    .lk4 {
        font-size: 12px;
    }

    .jj1 {
        display: none;
    }

    .ll2 {
        display: block;
    }

    .video1 {
        height: 240px;
        padding: 20px;
    }

    .video1 P {
        margin-bottom: 20px;
    }

    .img33 {
        display: block;
    }

    .img22 {
        display: none;
    }

    .section11 {
        text-align: center;
    }

    .sss {
        gap: 20px;
    }

    .ss1 {
        height: 183px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .ss1 p {
        font-size: 14px;
    }

    .bbs,
    .bbs2 {
        width: 100%;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .j1 {
        width: 95%;
        margin: auto;
    }

    .btn5 {
        display: none;
    }

    .btn6 {
        display: block;
        width: 95%;
        margin: auto;
    }

    .mmm2 {
        margin-left: -130px;
        z-index: 1;
        margin-bottom: 50px;
    }

    .ccc {
        flex-direction: column;
    }

    .ss {
        width: 70%;
        margin: auto;
    }

    .i1 {
        text-align: center;
    }

    .img11 {
        width: 100%;
    }

    .mm1 {
        width: 94%;
    }

    .bss {
        width: 100%;
        margin: auto;
    }

    .ll1 {
        display: inline;
        font-size: 28px;
        line-height: 30px;
    }

    .ll2 {
        font-size: 14px;
    }

    .lp1 {
        text-align: center;
    }

    .mir {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }

    .btn3 {
        width: 95%;
    }

    .l1 {
        text-align: center;
    }

    .img2 {
        display: none;
    }

    .img3 {
        display: block;
    }

    .l3 {
        display: block;
        padding: 15px;
    }

    .l2 {
        display: none;
    }


    .kl1 {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 40px;
    }

    .kl2 {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }

    .pp1 {
        margin-top: 60px;
        text-align: center;
    }

    .q1 {
        display: none;
    }

    .q4 {
        display: block;
        font-size: 36px;
        margin-bottom: 30px;
        line-height: 50px;
    }

    .q5 {
        display: block;
        font-size: 36px;
    }

    .q3 {
        display: block;
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .q2 {
        display: none;
    }

    .m11 {
        display: none;
    }

    .img1 {
        display: block;
    }

    .s1 {
        display: flex;
        gap: 10px;
    }
}